@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

@media (max-width: 2160px) {
    .header {
        display: flex;
        flex-flow: column wrap;
    }

    .nav ul {
        // justify-content: center;
        font-size: 2rem;
    }
}

// @media (max-width: 624px) {
@media (max-width: 1300px) {
    .header {
        * {
            // flex-wrap: wrap;
            // flex-direction: row;
            flex-flow: column wrap;
            align-self: stretch;
            // margin: auto;
            text-align: center;
        }

        // .logo,
        // .title {
        //     padding: $magic-number 0;
        // }
    }
    
    .nav-toggle {
        margin: auto;
    }

    .nav {
        ul {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            // margin: 0 auto;
        }
    }
}

@media (max-width: 1120px) {
    .nav {
        background-color: $background-color;

        ul {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            // margin: 0 auto;
        }
    }
}

@media (max-width: 770px) {
    .header {
        margin: $magic-number;
    }
}



// @media (max-width: 1710px) {
//     .header {
//         * {
//             padding: 0;
//         }
//     }

// .nav ul {
//     justify-content: center;
//     font-size: 2rem;
// }
// }


