/* Title */

// .title,
// .logo {
//     padding: $magic-number;
// }

// @media (max-width: 767px) {
//     .title,
//     .logo {
//         padding: 1em 1em 1em 0;
//     }

//     .title {
//         min-width: 50%;
//     }
    
//     .logo {
//         max-width: 30%;
//     }
// }

.title {
    color: $font-color;
    align-self: center;
}

.title p {
    font-style: italic;
}

.logo {
    a:hover {
        background-color: transparent;
    }

    img {
        border: 5px solid;
        border-radius: 10px;
        // box-shadow: 0px 0px 20px #999;
        max-width: 600px;
    }
}
