$font-color: #0f0f0f;
$font-alternative-color: #fff;
// $accent-color: #ee6c4d;
$background-color: #90a660;
$background-alternative-color: #5fb360;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
