$font-color: #4aba12;
$font-alternative-color: #fff;
// $accent-color: #ee6c4d;
$background-color: #23004b;
$background-alternative-color: #570455;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
